[submodule "Cities/lynn"]
	path = Cities/lynn
	url = https://github.com/ponychicken/invisiblecities-lynn.git
[submodule "Cities/dom"]
	path = Cities/dom
	url = https://github.com/ponychicken/invisiblecities-dom.git
[submodule "Cities/wiebke"]
	path = Cities/wiebke
	url = https://github.com/ponychicken/invisiblecities-wiebke.git
[submodule "Cities/eric"]
	path = Cities/eric
	url = https://github.com/ponychicken/invisiblecities-eric.git
[submodule "Cities/lorenz"]
	path = Cities/lorenz
	url = https://github.com/ponychicken/invisiblecities-lorenz.git
[submodule "Cities/marion"]
	path = Cities/marion
	url = https://github.com/ponychicken/invisiblecities-marion.git
[submodule "Cities/ilya"]
	path = Cities/ilya
	url = https://github.com/ponychicken/invisiblecities-ilya.git
[submodule "Cities/leo"]
	path = Cities/leo
	url = https://github.com/ponychicken/invisiblecities-leo.git
[submodule "Cities/gabi"]
	path = Cities/gabi
	url = https://github.com/ponychicken/invisiblecities-gabi.git
[submodule "Cities/navigation"]
	path = navigation
	url = https://github.com/ponychicken/invisibleCities-navigation
